.container {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 2fr 4fr 1fr;
}

:root {
    --repeatNumber : 15;
    --redNumber: 0;
    --greenNumber: 0;
    --blueNumber: 0;
}

.grid {
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-rows: repeat(var(--repeatNumber), 1fr);
    grid-template-columns: repeat(var(--repeatNumber), 1fr);
    height: 300px;
    width: 300px;
}

.cell {
    border: 1px solid rgba(219, 225, 233, 0.473);
    box-sizing: border-box;
}

.filled {
    background-color: rgb(var(--redNumber), var(--greenNumber), var(--blueNumber));
}

button {
    height: 25px;
    width: 100px;
    grid-area: 1/2/2/3;
    justify-self: center;
}

.radio {
    grid-area: 2/1/3/2;
}